blockquote {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0.83333rem;
  padding-left: 1.45833rem;
  padding-right: 0.83333rem;
  padding-top: 0.83333rem;
  margin-bottom: 1.66667rem;
  font-size: 1.1487rem;
  line-height: 1.66667rem;
  background: hsla(0, 0%, 0%, 0.03);
  color: hsla(0, 0%, 0%, 0.69);
  /* border-left: 0.20833rem solid hsla(0, 0%, 0%, 0.2); */
  border-left: 0.54375rem solid #1ca086;
}
